{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Наш сайт - это динамичная платформа, посвященная новостям и трендам в области информационных технологий.
            Мы стремимся предоставлять нашим читателям самую свежую и актуальную информацию о разработках,
            инновациях и событиях в мире технологий.

Наши статьи и обзоры помогут вам быть в курсе последних технологических новинок,
            а также углубить свои знания в области IT. Мы также предлагаем полезные советы и
            руководства для тех, кто хочет улучшить свои навыки и успешно работать в сфере информационных технологий.</p>
        <a href="{% url 'home' %}" class="btn btn-warning"> На главную</a>
        <a href="{% url 'news_home' %}" class="btn btn-warning"> Перейти к статьям</a>
    </div>
{% endblock %}
